# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
env/
venv/
ENV/
VENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
desktop.ini

# Log files
*.log

# Cache files
*.cache
.cache/
*.pkl
*.db

# Compiled C extensions
*.so

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# pipenv / poetry
Pipfile.lock
poetry.lock

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Cython debug symbols
cython_debug/

# Local environments
*.env
*.env.*
.envrc

# VSCode history & workspace storage
.history/
.vscode-test/

# Temporary files
*.tmp
*.swp
*.bak
*.mp4
*.png
*.jpeg
*.gif
*.bmp